#header3 .contact
{
    color:#656565;
    margin-left: 20px;
}
#header3 .top-header ul
{
    justify-content: flex-end;
}
#header3 nav .nav-item.sales .sale
{
    position: absolute;
    top: -18px;
    right: 15px;
    background: #17c6aa;
    color:#fff;
    border-radius:2px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    padding:1px 4px 0;
}
#header3 nav .nav-item .nav-link
{
    padding:0 15px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    transition: .3s;
}
#header3 nav .nav-item .nav-link:hover,
#header3 nav .nav-item .nav-link.active
{
    color: #17c6aa;
}
#header3 nav .navbar-toggler
{
    border: 0;
    box-shadow: none;
    border-radius: 0;
    outline: 0;
    color:#000;
    font-size: 30px;
}
#header3 .top-header .col-md-6 ul li
    {
        margin:0 13px;
    }
#header3 nav .search
{
    width: 260px;
    justify-content: space-evenly;
    align-items: center;
}
#header3 nav .search i
{
    font-size: 24px;
    cursor: pointer;
}
#header3 nav .search a
{
    text-decoration: none;
    color:#000;
}
#header3 nav .search .search-box form
{
    position: absolute;
    bottom: -18px;
    width:300px;
    display: none;
}
#header3 nav .search .search-box form input
{
    border:0;
    border-radius: 0;
    border-bottom: 1px solid #17c6aa;
    outline: 0;
    box-shadow: none;
}
#header3 nav .search .search-box form i
{
    position: absolute;
    display: flex;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
}
#header3 nav .search .cart

{
    position: relative;
}
#header3 nav .search .cart span
{
    position: absolute;
    width: 18px;
    height: 18px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    top: -6px;
    left: 16px;
}
#header3 nav .search p
{
    font-weight: 500;
    margin-bottom:10px;
}
@media all and (max-width:991px)
{
    #header3 .top-header .col-md-6 
    {
        margin:10px 0;
        text-align: center;
    }
    #header3 .top-header .col-md-6 .langs
    {
        justify-content: center;
    }
    #header3 .top-header .col-md-6 ul
    {
        justify-content: center;
    }
    #header3 .top-header .col-md-6 ul li
    {
        margin:0 13px;
    }
    .navbar-collapse
    {
        text-align: center;
        justify-content: center;
    }
    #header3 nav .nav-item
    {
        margin:10px 0;
    }
    #header3 nav .search
    {
        width: 100%;
    }
}