.top-header
{
    background-color: #333;
}
header .top-header .dropdown .btn
{
    border: 0;
    background: transparent;
    box-shadow: none;
    color:#656565;
    font-size: 14px;
}
header .top-header .cart-info
{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    color:#656565;
    align-items: center;
    height:100%;
    justify-content: space-around;
}
header .top-header .cart-info li i
{
    color:#27c7d8;
    padding-right: 5px;
    font-size: 13px;
}
header .top-header .cart-info li span
{
    font-size: 13px;
}
header nav .navbar-toggler
{
    border: 0;
    box-shadow: none;
    border-radius: 0;
    outline: 0;
    color:#000;
    font-size: 30px;
}